# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 77
b = 77

print(a == b)
print(a is b)

True
True

variables are equal and references on the same object in memory

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [2]:
x = True

print(isinstance(x, bool))
print(isinstance(x, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [3]:
a = 10
b = 3.5

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor division:", a // b)
print("Modulus (remainder):", a % b)
print("Exponentiation:", a ** b)

Addition: 13.5
Subtraction: 6.5
Multiplication: 35.0
Division: 2.857142857142857
Floor division: 2.0
Modulus (remainder): 3.0
Exponentiation: 3162.2776601683795

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [4]:
a = 10
b = 3.5

b_int = int(b)

print("Original float:", b)
print("Converted to integer:", b_int)

c = True

c_int = int(c)

print("Original boolean:", c)
print("Converted to integer:", c_int)

Original float: 3.5
Converted to integer: 3
Original boolean: True
Converted to integer: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [6]:
empty_string1 = ""

empty_string2 = str()

print("First empty string:", empty_string1)
print("Second empty string:", empty_string2)

First empty string:
Second empty string:

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [7]:
string_with_apostrophe = "It's a beautiful morning."
raw_string_with_apostrophe = r"It\'s a beautiful morning."

print("Regular string:", string_with_apostrophe)
print("Raw string:", raw_string_with_apostrophe)

Regular string: It's a beautiful morning.
Raw string: It\'s a beautiful morning.

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [8]:
surname = "Rakhmanova"

formatted_string = f"My surname is {surname}"

print(formatted_string)

My surname is Rakhmanova

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [9]:
sentence = "My dog is crazy."


word_list = sentence.lower().strip('.').split()

print(word_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [10]:
list1 = [1, 2, 3, 4, 5]


list2 = list((6, 7, 8, 9, 10))


length_of_list1 = len(list1)

print("First list:", list1)
print("Second list:", list2)
print("Length of the first list:", length_of_list1)

First list: [1, 2, 3, 4, 5]
Second list: [6, 7, 8, 9, 10]
Length of the first list: 5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [12]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]


list1.append(list2)

print("list:", list1)

list: [1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [13]:
main_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]


first_element_of_last_row = main_list[-1][0]

print("First element of the last row:", first_element_of_last_row)

First element of the last row: 7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [14]:
original_list = [1, "hello", 3.555, True, None, [1, 2], {'key': 'value'}, (1, 2), complex(1, 1), b'byte']


new_list = original_list[2:-2]

print("Original list:", original_list)
print("New list :", new_list)

Original list: [1, 'hello', 3.555, True, None, [1, 2], {'key': 'value'}, (1, 2), (1+1j), b'byte']
New list : [3.555, True, None, [1, 2], {'key': 'value'}, (1, 2)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [15]:
single_element_tuple = (5,)

print("Single element tuple:", single_element_tuple)

Single element tuple: (5,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

*місце для текстової відповіді

І списки, і кортежі зберігають кілька елементів різних типів.
Відмінності:
списки - змінні, можна змінювати, додавати або видаляти елементи. Синтаксис: [].
Кортежі - незмінні, після створення не можна змінювати елементи. Синтаксис: (). Використання:
списки, коли потрібно змінювати вміст колекції, а кортежі - коли потрібно зберігати фіксовані дані, щоб уникнути змін.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [17]:
tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 10.3)


reverse_even_elements = tuple[::-2]

print("Reversed even-indexed elements:", reverse_even_elements)

Reversed even-indexed elements: (10.3, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [19]:
my_set = set()
my_set.add(10)
my_set.add(3.14)
my_set.add("hello")
my_set.add(True)

print("Set:", my_set)

Set after adding elements: {True, 10, 3.14, 'hello'}

так, множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [20]:
my_list = [1, 1, 2, 67, 67, 8, 9]


my_set = set(my_list)

print("Set after conversion:", my_set)

Set after conversion: {1, 2, 67, 8, 9}

set не може містити дублікатів

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [21]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
union_result = set1.union(set2)
print("Union:", union_result)


difference_result = set1.difference(set2)
print("Difference (set1 - set2):", difference_result)


intersection_result = set1.intersection(set2)
print("Intersection:", intersection_result)
symmetric_difference_result = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference_result)

Union: {70, 40, 10, 50, 20, 60, 30}
Difference (set1 - set2): {10, 20}
Intersection: {40, 50, 30}
Symmetric Difference: {20, 70, 10, 60}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [22]:
my_dict = {}

my_dict[1] = "integer"
my_dict["name"] = "string"
my_dict[3.14] = "floating point number"
my_dict[(1, 2, 3)] = "tuple"

print(my_dict)

{1: 'integer', 'name': 'string', 3.14: 'floating point number', (1, 2, 3): 'tuple'}

У Python ключі словника повинні бути незмінними, а список є змінним, через це він не має хеш-значення, і його не можна використовувати як ключ у словнику.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [23]:
my_dict = {
    "outer_key": {
        "middle_key1": {
            "inner_key1": "value 1"
        },
        "middle_key2": {
            "inner_key2": "value 2",
            "inner_key3": "value 3"
        }
    },

}


print(my_dict["outer_key"]["middle_key1"]["inner_key1"])
print(my_dict["outer_key"]["middle_key2"]["inner_key2"])
print(my_dict["outer_key"]["middle_key2"]["inner_key3"])

value 1
value 2
value 3

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.